html {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
        
}
body{
    background: url(../Images/fondoIndex.jpg);
    background-size: cover;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    width: 1023px;
}
header, nav, section, article, footer {
  display: block;
}
header{
    height: 141px;
    position: relative;
}

aside {
    float: right;
    margin: 0 10px 0 0;
    width: 320px;
    position: relative;
}
aside h3 {
background: -webkit-linear-gradient(top, rgba(254,112,33,1) 0%, rgba(254,112,33,1) 2%, rgba(252,176,136,1) 21%, rgba(254,112,33,1) 41%, rgba(233,86,23,1) 65%, rgba(208,56,12,1) 95%, rgba(208,56,12,1) 100%);
    border-radius: 15px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin: -15px 0 15px 0;
    padding: 10px;
    text-align: center;
}
aside div.bloques-aside {
    padding: 10px 0;
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 10px;
    margin: 25px 0;
}
aside li.publicidad {
    display: block;
    float:inherit;
    background: none;
    margin: 3px;
}
 
aside ul {
    overflow: hidden;
}
aside img{
   max-width: 80%;
    height: auto;
    width: auto;  
    
}
footer {
    background: none repeat scroll 0 0 ;
    color: #FFFFFF;
    font-family: arial;
    clear: both;
    padding: 10px;
    text-align: center;
}
figure.logo {
    position: relative;
    top: 20px;
    left:20px;
    float: left;
}
figure.logo figcaption h1 {
    font-size: 21px;
    color: #fff;
    text-shadow: 1px 1px 2px #666;
    text-transform: uppercase;
    font-size: 25px ;
}

nav {
    border-radius: 6px;
    background: -webkit-linear-gradient(top, rgba(254,112,33,1) 0%, rgba(254,112,33,1) 2%, rgba(252,176,136,1) 21%, rgba(254,112,33,1) 41%, rgba(233,86,23,1) 65%, rgba(208,56,12,1) 95%, rgba(208,56,12,1) 100%);
    height: 46px;
    margin: 0;
    display: block;
}
nav li {
    float: left;
    display: block;
    margin: 5px;
}
nav li a {
    color: #FFFFFF;
    font-family: arial;
    font-weight: bold;
    line-height: 37px;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
}
nav li a:hover {
    background-color: #CD3A0C;
    border: 1px solid #ba1706;
}

nav.footer li a {
    font-weight: normal;
    padding:10px;
    line-height: 20px;
    font-size: 14px;
    text-transform: none;
    color: #CD3A0C;
}
nav.footer {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 30px;
    margin: 0 0 10px;
    padding: 0 18%;
    text-align:center;
    
}
nav li a {
    color: #FFFFFF;
    font-family: arial;
    font-weight: bold;
    line-height: 37px;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

nav.footer li a:hover{
     background:none;
     border: none;
     color: #CD3A0C;
}