section.articulos2 {
    width: 100%;
    float: left;
}

article.twitter {
   margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    float: left
}