html {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 100%;    
}
div{
    height: 100%;   
}
body{
    background: url(../Images/fondo1.jpg);
    background-size: cover;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.btn1{
    width: 100%;
    float: right;
    margin-top: 20px;
     border: none;
     background: #3a7999;
     color: #f2f2f2;
     padding: 10px;
     font-size: 18px;
     border-radius: 5px;   
     box-sizing: border-box;
     transition: all 500ms ease;
}

  .btn1:hover{
     background: rgba(0,0,0,0);
    color: #f2f2f2;
    box-shadow: inset 0 0 0 3px #3a7999;
  }

.btnFijo{
    background: #50A4CE;
    color: #f2f2f2;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.circular { 
    width: 300px; 
    height: 300px; 
    border-radius: 50px;
    background: url("/Images/Sin%20t%C3%ADtulo-1.png") no-repeat; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 0 auto;
    margin-top: 15%;
}

.central{
    background: white;
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;

}
section{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10%;
}

dl{
    float: left;
    text-align: left;
    
}
dt{
    padding-top: 30px;
    font-size: 20px;
    padding-left: 10px;
}
dd{
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
}


hr{
    margin-top: 5%;
    margin-bottom: 5%;
}
.contacto{
    width: 80%;
    float: left;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;   
    box-sizing: border-box;
}
section{
    float:left;
    width: 90%;
}

li{
list-style: none
}

a{
    font-size: 70px;
    padding: 5px;   
}

.icono{
     position:absolute;
    bottom:5px;
    right:10px;
}